$ColorApp: (
  yellow: #fbe33a,
  red: #fb413a,
  blue: #1279c4,
  green: #13c62f,
  purple: #9a16c1,

  bg: #2b3b43,
  bgFont: #515e63,
  fontColor: #c3c3c3,
  toggleColor: #8c8c8c,
);


$ColorAppMap: (
  acceuil: yellow,
  profil: red,
  parcours: blue,
  competences: green,
  contact: purple,
);