@import "theme";
.url {
  background-color: map-get($ColorApp, bgFont);
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  width: 90%;
  p {
    margin: 1px;
  }
  .p-url {
    font-weight: bold;
  }
  .p-title-url {
    font-weight: bold;
  }
}
